<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="Thorn" />
<meta name="description" content="Thorn is a fully customizable Discord bot that is constantly growing. She has a variety of commands and a multitude of settings that can be tailored to your server's specific needs!" />
<meta name="theme-color" content="#8A215A" />
<link rel="stylesheet" href="bulma.min.css" />
<link rel="stylesheet" type="text/css" href="bulma-prefers-dark.min.css" />
<link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="og:image" content="https://cdn.discordapp.com/attachments/881622625661644832/882705055495634964/hardrockon.png" />
<title>Thorn Bot</title>
